 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Blog Details</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Text Editors</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
     <!-- /.row -->
    <section class="content">
      <div class="content-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <h3 class="card-title col-sm-10">Responsive Hover Table</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
      
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1" style="margin: center;">
                    <a href="/addblogs"><button type="button" class="btn btn-block btn-success btn-sm">AddNew</button></a>
                  </div>
                  <div class="col-sm-2" style="margin: center;">
                    <button type="button" class="btn btn-block btn-success btn-sm" onclick="window.print()">Print Preview</button>
                  </div>
                  <div class="col-sm-1" style="margin: center;">
                    <button type="button" class="btn btn-block btn-success btn-sm">Save CSV</button>
                  </div>
                  <div class="col-sm-1" style="margin: center;">
                    <button type="button" class="btn btn-block btn-success btn-sm">Show All</button>
                  </div>

                </div>
    
                
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Tags</th>
                      <th>Photo</th>
                      <th>Date</th>
                      <th>Author</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each rows}}
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td scope = "row">{{this.Title}}</td>
                      <td>{{this.Category}}</td>
                      <td><span class="tag tag-success">{{this.Tags}}</span></td>
                      <td>{{this.Photo}}</td>
                      <td>{{this.Date}}</td>
                      <td>{{this.Author}}</td>
                      <td>{{this.Status}}</td>
                      <td class="text-end">
                          {{!-- <a href="/viewuser/{{this.id}}"><button type="button" class="btn btn-block btn-success btn-sm">View</button></a> --}}
                          <a href="/editblogs/{{this.id}}"><button type="button" class="btn btn-block btn-success btn-sm" style="margin: 7px;">Edit</button></a>
                          <a href="/{{this.id}}"><button type="button" class="btn btn-block btn-success btn-sm" style="margin: 7px;">Delete</button></a>
                      </td>
                    </tr>
                     <tr class="expandable-body">
                      <td colspan="8">
                        <p>
                        {{this.Content}}
                        </p>
                      </td>
                    </tr>
                    {{/each}}
                 
                  </tbody>
                </table>
              </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->